In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\advai\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\advai\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\advai\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\advai\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\advai\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\advai\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
lst = [1,2,3,4,5]

In [4]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [7]:
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
lst,lst,lst

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [10]:
[lst,lst,lst] # 2d list

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [12]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [15]:
df = pd.DataFrame([lst,lst,lst], columns = ['A','B','C', 'D', 'E'])

In [16]:
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
del df #will delete the dataframe

In [19]:
df

NameError: name 'df' is not defined

In [20]:
pd.array()

TypeError: array() missing 1 required positional argument: 'data'